@theme {
    --color-accent-50: var(--accent-50);
    --color-accent-100: var(--accent-100);
    --color-accent-200: var(--accent-200);
    --color-accent-300: var(--accent-300);
    --color-accent-400: var(--accent-400);
    --color-accent-500: var(--accent-500);
    --color-accent-600: var(--accent-600);
    --color-accent-700: var(--accent-700);
    --color-accent-800: var(--accent-800);
    --color-accent-900: var(--accent-900);
    --color-accent-950: var(--accent-950);
}


@layer base {
  .theme-teal {
    --accent-50: oklch(98.4% 0.014 180.72);
    --accent-100: oklch(95.3% 0.051 180.801);
    --accent-200: oklch(91% 0.096 180.426);
    --accent-300: oklch(85.5% 0.138 181.071);
    --accent-400: oklch(77.7% 0.152 181.912);
    --accent-500: oklch(70.4% 0.14 182.503);
    --accent-600: oklch(60% 0.118 184.704);
    --accent-700: oklch(51.1% 0.096 186.391);
    --accent-800: oklch(43.7% 0.078 188.216);
    --accent-900: oklch(38.6% 0.063 188.416);
    --accent-950: oklch(27.7% 0.046 192.524);
  }

  .theme-sky {
    --accent-50: oklch(97.7% 0.013 236.62);
    --accent-100: oklch(95.1% 0.026 236.824);
    --accent-200: oklch(90.1% 0.058 230.902);
    --accent-300: oklch(82.8% 0.111 230.318);
    --accent-400: oklch(74.6% 0.16 232.661);
    --accent-500: oklch(68.5% 0.169 237.323);
    --accent-600: oklch(58.8% 0.158 241.966);
    --accent-700: oklch(50% 0.134 242.749);
    --accent-800: oklch(44.3% 0.11 240.79);
    --accent-900: oklch(39.1% 0.09 240.876);
    --accent-950: oklch(29.3% 0.066 243.157);
  }

  .theme-emerald {
    --accent-50: oklch(97.9% 0.021 166.113);
    --accent-100: oklch(95% 0.052 163.051);
    --accent-200: oklch(90.5% 0.093 164.15);
    --accent-300: oklch(84.5% 0.143 164.978);
    --accent-400: oklch(76.5% 0.177 163.223);
    --accent-500: oklch(69.6% 0.17 162.48);
    --accent-600: oklch(59.6% 0.145 163.225);
    --accent-700: oklch(50.8% 0.118 165.612);
    --accent-800: oklch(43.2% 0.095 166.913);
    --accent-900: oklch(37.8% 0.077 168.94);
    --accent-950: oklch(26.2% 0.051 172.552);
  }

  .theme-blue {
    --accent-50: oklch(97% 0.014 254.604);
    --accent-100: oklch(93.2% 0.032 255.585);
    --accent-200: oklch(88.2% 0.059 254.128);
    --accent-300: oklch(80.9% 0.105 251.813);
    --accent-400: oklch(70.7% 0.165 254.624);
    --accent-500: oklch(62.3% 0.214 259.815);
    --accent-600: oklch(54.6% 0.245 262.881);
    --accent-700: oklch(48.8% 0.243 264.376);
    --accent-800: oklch(42.4% 0.199 265.638);
    --accent-900: oklch(37.9% 0.146 265.522);
    --accent-950: oklch(28.2% 0.091 267.935);
  }

  .theme-violet {
    --accent-50: oklch(96.9% 0.016 293.756);
    --accent-100: oklch(94.3% 0.029 294.588);
    --accent-200: oklch(89.4% 0.057 293.283);
    --accent-300: oklch(81.1% 0.111 293.571);
    --accent-400: oklch(70.2% 0.183 293.541);
    --accent-500: oklch(60.6% 0.25 292.717);
    --accent-600: oklch(54.1% 0.281 293.009);
    --accent-700: oklch(49.1% 0.27 292.581);
    --accent-800: oklch(43.2% 0.232 292.759);
    --accent-900: oklch(38% 0.189 293.745);
    --accent-950: oklch(28.3% 0.141 291.089);
  }

  .theme-green {
    --accent-50: oklch(98.2% 0.018 155.826);
    --accent-100: oklch(96.2% 0.044 156.743);
    --accent-200: oklch(92.5% 0.084 155.995);
    --accent-300: oklch(87.1% 0.15 154.449);
    --accent-400: oklch(79.2% 0.209 151.711);
    --accent-500: oklch(72.3% 0.219 149.579);
    --accent-600: oklch(62.7% 0.194 149.214);
    --accent-700: oklch(52.7% 0.154 150.069);
    --accent-800: oklch(44.8% 0.119 151.328);
    --accent-900: oklch(39.3% 0.095 152.535);
    --accent-950: oklch(26.6% 0.065 152.934);
  }

  .theme-cyan {
    --accent-50: oklch(98.4% 0.019 200.873);
    --accent-100: oklch(95.6% 0.045 203.388);
    --accent-200: oklch(91.7% 0.08 205.041);
    --accent-300: oklch(86.5% 0.127 207.078);
    --accent-400: oklch(78.9% 0.154 211.53);
    --accent-500: oklch(71.5% 0.143 215.221);
    --accent-600: oklch(60.9% 0.126 221.723);
    --accent-700: oklch(52% 0.105 223.128);
    --accent-800: oklch(45% 0.085 224.283);
    --accent-900: oklch(39.8% 0.07 227.392);
    --accent-950: oklch(30.2% 0.056 229.695);
  }

  .theme-lime {
    --accent-50: oklch(98.6% 0.031 120.757);
    --accent-100: oklch(96.7% 0.067 122.328);
    --accent-200: oklch(93.8% 0.127 124.321);
    --accent-300: oklch(89.7% 0.196 126.665);
    --accent-400: oklch(84.1% 0.238 128.85);
    --accent-500: oklch(76.8% 0.233 130.85);
    --accent-600: oklch(64.8% 0.2 131.684);
    --accent-700: oklch(53.2% 0.157 131.589);
    --accent-800: oklch(45.3% 0.124 130.933);
    --accent-900: oklch(40.5% 0.101 131.063);
    --accent-950: oklch(27.4% 0.072 132.109);
  }
}
