---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import { getAssetPrefix } from '../lib/utils'

const posts = await getCollection('posts')
const sortedPosts = posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
---
<BaseLayout assetPrefix={getAssetPrefix(Astro.url.pathname)}>
  <style>
    .underline-offset {
      text-underline-offset: 0.2em;
    }
    .decoration-thickness {
      text-decoration-thickness: 0.01em;
    }
  </style>

  <section id="posts">
    <ul>
      {sortedPosts.map(post => (
        <li class="pv2">
          <a
            class="dib color-inherit underline-offset decoration-thickness"
            href={`posts/${post.slug}/`}
          >
            {post.data.title}
          </a>
        </li>
      ))}
    </ul>
  </section>
</BaseLayout>
